<p>
<div class="container">
	<form class="form-signup" role="form" action=''>
	<h2 class="form-signup-heading">Create a Volunteer Account</h2>
		<input type="text" name="first_name" class="form-control" placeholder='First name'><br/>
		<input type="text" name="last_name" class="form-control" placeholder='Last name'><br/>
		<input type="text" name="age" class="form-control" placeholder='Age'><br/>
		<input type="email" name="email" class="form-control" placeholder='Email'><br/>
		<input type="tel" name ="mobile_phone" class="form-control" placeholder='Mobile Phone Number'><br/>
		<b>Location</b><br/>
		<input type="text" name="city" class="form-control" placeholder='City'><br/>
		<input type="text" name="state" class="form-control" placeholder='State'><br/>
		<input type="text" name="zip" class="form-control" placeholder='Zip Code'><br/>

		Event Type:
		<input list="event_types" class="form-control" >
		<datalist id="event_types">
			<option value="Basketball">
			<option value="Football">
			<option value="Baseball">
			<option value="Curling">
			<option value="Soccer">
		</datalist><br/>
		<input type="password" name="password" class="form-control" placeholder='Password'><br/>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
	</form>
	</div>
</p>